<p id="notice"><%= notice %></p>

<%=@employee.num %>
<%=@employee.name %>
<%=image_tag(@employee.photo.url) %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>

<div ng-app="employeeApp">
  <div ng-controller="employeeCtrl">
  
  </div>
</div>