<h1>Listing payrolls</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= link_to payroll.start_date, payroll %></td>
        <td><%= link_to payroll.end_date, payroll %></td>
        <td><%= link_to 'Edit', edit_payroll_path(payroll) %></td>
        <td><%= link_to 'Destroy', payroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payroll', new_payroll_path %>
