<p id="notice"><%= notice %></p>
<div ng-app="anApp">
  <div ng-controller="EmployeesCtrl">
		<button ng-click="updatePayroll();" class="btn btn-primary">Update</button>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th><button ng-click="sortBy('num');">No</button></th>
        <th><button ng-click="sortBy('sin');">SIN</button></th>
        <th><button ng-click="sortBy('name');">Name</button></th>
				<th><button ng-click="sortBy('work_hours');">Hours</button></th>
        <th><button ng-click="sortBy('note');">Note</button></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="employee in payroll_employees | orderBy:predicate" ng-class="employee.class_name()">
        <td>{{employee.num}}</td>
        <td>{{employee.sin}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.work_hours}}</td>
        <td><input type="text" name="note" ng-model="employee.note"></td>
        <td><button ng-click="removeFromPayroll(employee);">Move Down</button></td>
      </tr>
    </table>
    <button class='btn btn-danger'>Cleanup</button>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th><button ng-click="sortBy('num');">No</button></th>
        <th><button ng-click="sortBy('sin');">SIN</button></th>
        <th><button ng-click="sortBy('name');">Name</button></th>
				<th><button ng-click="sortBy('work_hours');">Hours</button></th>
        <th><button ng-click="sortBy('note');">Note</button></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="employee in employees | orderBy:predicate" ng-class="employee.class_name()">
        <td>{{employee.num}}</td>
        <td>{{employee.sin}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.work_hours}}</td>
        <td><input type="text" name="note" ng-model="employee.note"></td>
        <td><button ng-click="addToPayroll(employee);">Move Up</button></td>
      </tr>
    </table>
    
  </div>
</div>

<script type="text/javascript">
var anApp = angular.module('anApp', ['ui.bootstrap', 'ngResource'])
.config(function($httpProvider){
  $httpProvider.defaults.headers.put = {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')};
});

anApp.controller('EmployeesCtrl', function EmployeesCtrl($scope, $resource) {

  $resource('<%=get_employee_hours_payroll_path(@payroll, :format=>'json')%>').query(function(data) {
    $scope.employees = data;
    data.forEach(function(employee) {
      employee.note = '';
    });
  });
  
  $resource('<%=payroll_employees_path(@payroll, :format=>'json')%>').query(function(data) {
    $scope.payroll_employees = data;
  });
  
  $scope.addToPayroll = function(employee) {
    $scope.payroll_employees.push(employee);
    $scope.employees.splice($scope.employees.indexOf(employee), 1);
  };
  
  $scope.removeFromPayroll = function(employee) {
    $scope.employees.push(employee);
    $scope.payroll_employees.splice($scope.payroll_employees.indexOf(employee), 1);
  };
  
  $scope.sortBy = function(field){
    if ($scope.predicate == field) $scope.predicate = '-'+field;
    else $scope.predicate = field;
  }
	
  $scope.updatePayroll = function(){
		$resource('<%=store_path(@store, :format=>'json')%>', {store:{name:'aaaa'}}, {update:{method:'PUT'}}).update(function(data) {
			console.log(data);
		});


		//$resource('<%=payroll_path(@payroll, :format=>'json')%>', $scope.payroll_employees, {update: {method:'PUT' }}).save(function(data) {
//			console.log(data);
		//});
  }
  
  $scope.predicate = '-num';

});
</script>
