<h1>Editing payroll_record</h1>

<%= render 'form' %>

<%= link_to 'Show', employee_payroll_record_path(@employee, @payroll_record) %> |
<%= link_to 'Back', employee_payroll_records_path(@employee) %>

<%= link_to 'Show', post_comment_path(@post, @comment) %> |
<%= link_to 'Back', post_comments_path(@post) %>