<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/favicon.ico">
    <title>Att</title>
		
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<%if @angularjs%>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
		<%= javascript_include_tag "angular/ui-bootstrap-tpls-0.6.0-SNAPSHOT" %>
		<%end%>
		
    <%= csrf_meta_tags %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv", "respond.min.js" %>
    <![endif]-->
    
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/stores">Stores</a></li>
        <li><a href="#">Employees</a></li>
        
        
        
        
        
      </ul>
      
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      
      <li class="dropdown">
        <a id="current_store" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%=@store.name%> <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <%Store.all.each do |store|%>
            <li role="presentation"><%= link_to store.name, set_current_store_path(store), remote: true, role:"menuitem", taxindex:"-1" %></li>
          <%end%>
        </ul>
      </li>
      
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  
  
    <%=yield%>
  </div>
  

  </body>
</html>
